:root {
    --card-margin-top      : 20px;
    --main-background-color: rgb(180, 186, 210);
    --poster-width         : 8.5rem;
}

.mainContainer {
    padding-left : 10px;
    padding-right: 10px;
    margin-top   : 20px;
}

.imgContainer {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    background-color     : var(--main-background-color);
    border               : 5px solid rgb(230, 230, 230);
}

.posterImg {
    height: 200px;
    width : var(--poster-width);
}

.rating {
    background-color: rgb(55, 58, 71);
    color           : white;
    width           : var(--poster-width);
    padding-bottom  : 4px;
}

.rating img {
    padding-bottom: 4px;
}

.generalInfo {
    grid-column: 1 / 3;

    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top          : 20px;
    padding-bottom       : 10px;
}

.generalInfo p {
    margin-bottom: 0px;
}

.generalInfo h6 {
    margin-bottom: 0px;

}

.MovieTitle {
    margin    : auto;
    text-align: center;
}

.title {
    margin    : 0;
    text-align: center;
}

.cardOverview {
    border       : 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-top   : var(--card-margin-top);
}

.productionCountries {
    list-style     : none;
    padding-left   : 0;
    display        : flex;
    justify-content: space-evenly;
}


.statsGenres {
    display              : grid;
    grid-template-columns: 1fr 2fr;
    border               : 1px solid rgba(0, 0, 0, .125);
    border-radius        : .25rem;
    padding-top          : 15px;
    margin-top           : var(--card-margin-top);
    background-color     : var(--main-background-color);
}

.statusTitle {
    place-self: center;
}

.genresTitle {
    place-self: center;
}


.movieStatus {
    padding-left : 0px;
    margin-bottom: .5rem;
    place-self   : center;
    justify-self : start;
    font-style   : italic;
}


.genres {
    list-style     : none;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: flex-start;
    padding-left   : 0px;
    margin-bottom  : .5rem;
    place-self     : center;
    justify-self   : start;
}


.genres li {
    margin-right: 10px;
}

.siteContainer {
    display       : flex;
    flex-direction: column;
    margin        : 40px 0px;
    border        : 2px solid rgb(180, 186, 210)
}

.siteContainer p {
    color      : white;
    margin-top : 2px;
    padding-top: 10px;

}

.siteLink {
    color          : rgb(180, 186, 210);
    text-align     : center;
    padding-bottom : 10px;
    text-decoration: none;
    overflow       : auto;
}

.nextEpisodeDate {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
}


@media (max-width: 360px) {
    .siteContainer a {
        font-size: 13px;
    }
}