.mainContainer {
    max-width  : 900px;
    margin     : auto;
    padding-top: 70px;
}

.search {
    max-width: 97%;
    margin   : auto;

}

.title {
    color         : white;
    text-align    : center;
    margin-top    : 15px;
    text-transform: capitalize;
}


@media (min-width: 900px) {
    .moviesContainer {
        display              : grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
}