h4 {
    text-align: center;
    color     : rgb(180, 186, 210);
}

.mainContainer {
    display         : flex;
    overflow        : auto;
    white-space     : nowrap;
    background-color: rgb(180, 186, 210);
    margin          : 5px 10px;
}

.posterContainer {
    margin: 5px 10px;
    border: 5px solid white;
}

.poster {
    width: 200px;
    min-height: 300px;
}