.menuContainer {
    display         : flex;
    align-items     : center;
    background-color: rgb(180, 186, 210);
}

.menuContainer button {
    background-color: rgb(180, 186, 210);
    border          : none;
}

.menuContainer h1 {
    width     : 100%;
    text-align: center;
}

/* max height is set so user can scroll down when dropdown is opened. */
.offCanvas {
    max-height: 800px;
    overflow-y: auto;
}

.genres {
    overflow-x      : hidden;
    overflow-y      : auto;
    position        : absolute;
    z-index         : 1000;
    min-width       : 10rem;
    padding         : 0.5rem 0;
    margin          : 0;
    font-size       : 1rem;
    color           : rgb(33, 37, 41);
    text-align      : left;
    list-style      : none;
    background-color: rgb(255, 255, 255);
    background-clip : padding-box;
    border          : 1px solid rgba(0, 0, 0, .15);
    border-radius   : 0.25rem;
    display         : flex;
    flex-direction  : column;
    height          : 400px;
    width           : 100%;

}

.genreLink {
    margin         : 7px;
    text-decoration: none;
    color          : black;
}

.genreLink:hover {
    color    : rgb(180, 186, 210);
    font-size: 18px;
}

.toggleButton {
    width: 100%;
}


.icons {
    display              : grid;
    grid-template-columns: 1fr 10fr;
}

.icons img {
    align-self: center;
}

.navLink {
    text-decoration: none;
    margin-right   : 5px;
    padding        : 13px 12px;
    color          : black
}

.navLink:hover {
    color: rgb(253, 84, 84);
}

.iconCredit {
    padding: 2px;
}

.dateRange {
    display        : flex;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .offCanvas {
        max-height: 100%;
    }
}