.menuContainer {
    display         : flex;
    align-items     : center;
    background-color: rgb(180, 186, 210);
}

.menuContainer button {
    background-color: rgb(180, 186, 210);
    border          : none;
}

.menuContainer h1 {
    width     : 100%;
    text-align: center;
}

.genres {
    position  : absolute;
    inset     : 0px auto auto 0px;
    transform : translate3d(0px, 40px, 0px);
    height    : 150px;
    overflow-x: hidden;
    overflow-y: auto;
    height    : 400px;
    width     : 100%;
}

.toggleButton {
    width: 100%;
}


.icons {
    display              : grid;
    grid-template-columns: 1fr 10fr;
}

.icons img {
    align-self: center;
}

.navLink {
    text-decoration: none;
    margin-right   : 5px;
    padding        : 13px 12px;
    color          : black
}

.navLink:hover {
    color: rgb(253, 84, 84);
}